.paginate {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 32px;
}
.name {
    font-size: 1.6rem;
    margin: 12px;
    cursor: pointer;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.previous {
    font-size: 2rem;
    margin-right: 12px;
    cursor: pointer;
}
.next {
    font-size: 2rem;
    margin-left: 12px;
    cursor: pointer;
}
