{
  "extends": ["./node_modules/@dwarvesf/react-eslint-config"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "io": true,
    "chrome": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"],
    "createDefaultProgram": true,
    "sourceType": "module"
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-no-constructed-context-values": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "import/no-duplicates": "off",
    "import/order": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)", "**/*.js?(x)"],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-sort-props": "off",
        "react/function-component-definition": "off",
        "no-shadow": "off"
      }
    },
    {
      "files": ["src/components/ThemeProvider/ThemeProvider.tsx"], 
      "rules": {
        "react/jsx-no-constructed-context-values": "off"
      }
    },
    {
      "files": ["src/components/Modal/components/ModalAdd.tsx"],
      "rules": {
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off"
      }
    },
    {
      "files": ["src/components/Modal/components/ModalDelete.tsx"],
      "rules": {
        "import/no-duplicates": "off",
        "import/order": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off"
      }
    }
  ]
}
