.wrapper {
    height: 100vh;
}
.container {
}
.dark {
    background-color: (var(--dark-color));
    color: var(--white-color);
}
.light {
    background-color: var(--white-color);
    color: var(--black-color);
}
